# porta di ascolto del server applicativo
SERVER_PORT=3000

# dati di connessione al database
DB_HOST = 127.0.0.1
DB_PORT = 3306
DB_USER = root
DB_PASSWORD = xxxxx #da aggiornare
DB_NAME = biblioteca

# chiave per firmare digitalmente la sessione
# stringa generata con il comando node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
SESSION_SECRET= xxxxxxx # da aggiornare

UPLOAD_DIR=uploads/covers

#gestione avviso prestiti in scadenza
PRESTITO_GIORNI_PREAVVISO=7

#gestione mailer (con Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false  #la connessione TLS parte dopo connessione SMTP al server Gmail
MAIL_USER= yyyyy #da aggiornare
MAIL_PASSWORD=zzzzzzzzz #da aggiornare